# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# VS Code
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log